
@model IEnumerable<InAndOut.Models.MyExpense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Expenses</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary"> Create New Expense </a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>                   
                    <th>
                        Expense name
                    </th>
                    <th>
                        Amount
                    </th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (var myExpense in Model)
                {
                <tr>
                    <td width="30%">@myExpense.ExpenseName</td>
                    <td width="30%">@myExpense.Amount</td>
                    <td width="30%">
                        <div class="w-100 btn-group"role="group">
                        <a asp-controller="Expense" asp-action="Update" asp-route-Id="@myExpense.ExpenseId" class="btn btn-success mx-1 "> Update </a>
                        <a asp-controller="Expense" asp-action="Delete" asp-route-Id="@myExpense.ExpenseId" class="btn btn-danger mx-1 " > Delete </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No MyExpenses Created Yet</p>
    }
</div>